<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>patient management system</title>
</head>
<body>

    <form method="POST">
    {% csrf_token %}
        <label for="patient_id">Enter Patient ID:</label>
        <input type="text" name="patient_id" id="patient_id">
        <button type="submit">Search</button>
    </form>
    
    
    
    {% if  patient_id  %}
        <h3>Patient Found</h3>
        <p>ID: {{ patient_id.id }}</p>
        <p>Username: {{ patient_id.username }}</p>
        <p>Date of Birth: {{ patient_id.dateofbirth }}</p>
        {% else %}
        <h3>Patient Not Found</h3>
        
    {% endif %}
    <br>
    <div class="button-container">
        <button type="submit"><a href="/index">home</a></button>
        <button type="submit"><a href="/register">register</a></button>
      </div>
      
</body>
</html>